.container {
  max-width: 114rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 1.2rem 2rem;
  border-radius: 50px;
  font-weight: 500;
  position: relative;

  &-primary {
    background-color: $color-primary;
    color: $color-text;
  }
  &-secondary {
    background-color: $color-text;
    color: $color-primary;
  }
}

.text-sm {
  font-size: 1.5rem;
  font-weight: 400;
}

.text-md {
  font-size: 3rem;
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $color-primary;
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
}

.heading-tertiary {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.margin-top-sm {
  margin-top: 2rem;
}
.margin-top-md {
  margin-top: 4rem;
}
.margin-top-lg {
  margin-top: 6rem;
}

.margin-bottom-sm {
  margin-bottom: 2rem;
}
.margin-bottom-md {
  margin-bottom: 4rem;
}
.margin-bottom-lg {
  margin-bottom: 6rem;
}
